.wizard {
    width: 452px;
    height: 352px;
    border: 1px solid #00f;
    overflow: hidden;
    font-family: 'Open Sans';
}

.wizard .slides {
    width: 4000px;
}

.wizard .actions {
    background: #ccc;
    height: 32px;
    clear: both;
}

.actions button {
    float: right;
    margin: 5px 5px 0 0;
}

.wizard fieldset {
    border: 0;
    width: 450px;
    height: 300px;
    margin: 10px 0 0 10px;
    float: left;
}

.wizard legend {
    margin: 10px 0;
}

.wizard ol {
    list-style-type: decimal;
    margin: 16px 0;
    padding-left: 40px;
}​