.wizard {
    width: 452px;
    height: 352px;
    border: 1px solid #00f;
    overflow: hidden;
}

.slides {
    width: 4000px;
}

.actions {
    clear: both;
    float: right;
    width: 100%;
}

.wizard fieldset {
    border: 1px solid #000;
    width: 450px;
    height: 320px;
    float: left;
}

.wizard legend {
    margin: 10px 0;
}

.wizard .actions {
    position: relative;
    bottom: 5px;
}

.wizard ol {
    list-style-type: decimal;
    margin: 16px 0;
    padding-left: 40px;
}​